/* importation de la police 'Poppins' de Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');
@font-face {
    font-family: "HelveticaNeueLT";
    src: url("assets/HelveticaNeueLTCom-UltLt.ttf")
    format("truetype");
}



html, body{
   font-family: 'Poppins', sans-serif;
   margin: 0;
   scroll-behavior: smooth;
}
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0  10%;
}

.logo{
   width: 160px;
   align-self: center;
}

.logo img{
   width: 100%;
   object-fit: cover;
}
.collections {
    text-decoration: none;
    color: black;
    transition: all .3s ease-in-out;
}

.collections:hover{
   color: rgb(135 114 69);
}

i{
    opacity: 0;
    transition: all .3s ease-in-out;
}

#iconehistoire:hover i{
    opacity: 1;
}


.notrehistoire{
    text-decoration: none;;
    color: black;
}

.notrehistoire:hover{
    color: rgb(135 114 69);
}

#couleurp{
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
}

.presentation {
    width: 100%;
    height: 450px;
    background-image: url('assets/horloger.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.presentation2 {
    width: 100%;
    height: 450px;
    background-image: url('assets/mecanismes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.presentation3 {
    width: 100%;
    height: 450px;
    background-image: url('assets/savoirfaire.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pied {
    text-decoration: none;
    color: black;
    transition: all .3s ease-in-out;
}

.pied:hover{
   color: rgb(135 114 69);
}

p{
    margin: 0;
    font-family:  "HelveticaNeueLT", sans-serif;
    text-align: left;
    color: white;
    font-size: large;
    max-width: 500px;
}
h1{
    margin: 0;
    font-size: 50px;
}

#produits{
    display: flex;
    align-items: center  ;
    flex-direction: column;
    color: white;
}

#produits{
    background-color: black;
}
.produit{
    display: flex;
    width: 300px;
    height: 30%;
    flex-direction: column;
    text-align: center;
}

.produit h2{
    font-family:  "HelveticaNeueLT", sans-serif;
}

.produit img{
    width: 100%;
    object-fit: cover;
}

.produit a{
    text-decoration: none   ;
}

.descriptif-produit h2{
    color: white;
}

.collection-watches{
    display: flex;
    gap: 5%;
}

